/* ===================== */
/* Reset */
/* ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================== */
/* Variables */
/* ===================== */

:root {
  --color-primario: #3224f7;
  --color-secundario: #554ae7;
  --color-fondo: #f4f4f4;
  --color-texto: #222222;
}

body {
  font-family: "Comic Neue";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  background: rgb(85, 74, 231);
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

header {
  background: rgb(50, 36, 247);
  color: white;
  width: 100%;
  height: 9rem;
  padding: 0 2rem;
}

footer {
  background: rgb(50, 36, 247);
  color: white;
  width: 100%;
  padding: 1rem 2rem;
}
