/* ===================== */
/* Reset */
/* ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================== */
/* Variables */
/* ===================== */

:root {
  --color-primario: #3224f7;
  --color-secundario: #554ae7;
  --color-fondo: #f4f4f4;
  --color-texto: #222222;
}

body {
  font-family: "Comic Neue", sans-serif;
  font-size: 16px;
  background: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.6;
  max-width: 1100px;
  margin: auto;
}

header {
  background: var(--color-primario);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

/* ===================== */
/* Navegación */
/* ===================== */

nav ul {
  list-style: none;
}

nav li {
  margin: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: lightgray;
}

footer {
  background: rgb(50, 36, 247);
  color: white;
  width: 100%;
  padding: 1rem 2rem;
}
